/* HorizontalScroll.css */

.horizontal-scroll-container {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent content from wrapping */
}

.content {
  display: flex; /* Use flexbox to align items horizontally */
  padding: 20px; /* Add padding to the container */
}

.item {
  border-radius: 5px;
  width: calc(
    20% - 20px
  ); /* Set the width of each image (1/5 of the screen width minus spacing) */
  height: calc(1 / 4 * 100vh - 20px);
  margin-right: 30px; /* Add spacing between images */
  flex-shrink: 0; /* Prevent images from shrinking */
}
